@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
	background-color: #FFFFEE;
	margin: 0px;
}

.mainHeader {
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 40px;
	margin: 30px;
}

h1 {
	font-family: "Playfair Display", serif;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	font-weight: 1000;
	font-size: 3.5rem;
}

.mainHeader small {
	font-family: 'Arial';
	font-size: 0.8rem;
}

body .searchArea {
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
}

body .postsArea .postInstance p {
	font-family: 'Arial', serif;
	font-size: 1rem;
}

body .postsArea .postInstance {
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #DFDFDF;
	width: 70%;
	border-radius: 12px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

body .postsArea .postInstance header {
	padding-right: 40px;
	padding-left: 40px;
}

footer {
	font-family: 'Arial';
	font-size: 0.8rem;
	margin: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding: 40px;
	background-color: #1a1a1a;
	color: white;
}

footer h2 {
	font-size: 1rem;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

footer a:hover {
	text-shadow: 1px 2px 3px rgba(200, 200, 200, 5);
}

footer .footerSideASide {
	display: flex;
	gap: 20px;
}

footer .footerSideASide section {
	margin: 0px;
}

footer .footerSideASide p {
	margin-top: 0px;
	margin-bottom: 0px;
}



h2 {
	font-family: "Arial";
}
